{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="container">
    <h1 class="text-center mt-4">Welcome to My Recipe App</h1>
    <p class="lead text-center">Discover Our Collection of Recipes</p>

    <div class="row justify-content-center">
        <p class="intro-text">
            This is the app to help you cook by yourself or with your family and friends.
            We have a wide variety of recipes to choose from. Both Veg and Non-Veg recipes are available,
            along with easy-to-follow recipes and also easy to make at home and bachelor-friendly.
            We provide step-by-step instructions for easy preparation, along with YouTube videos.
            These videos are primarily for the Telugu community, but you can search for videos in other languages on YouTube.
            This app is a test and free resource to help you make the best recipes at your desired place.
        </p>
    </div>

    <div class="row justify-content-center recipe-list">
        <p class="cooking-text">🧑‍🍳 Happy Cooking!!!</p>
        <p class="recipe-header">List of Recipes</p>
        <ol class="recipe-categories">
            <li>Non-Veg Recipes
                <ul class="recipe-items">
                    <li>All Non-Veg Biryani items</li>
                    <li>Non-Veg Curries</li>
                </ul>
            </li>
            <li>Veg Recipes
                <ul class="recipe-items">
                    <li>All Veg Biryani items</li>
                    <li>Veg Curries</li>
                </ul>
            </li>
        </ol>
    </div>
</div>

<!-- Custom CSS for the page -->
<style>
    .container {
        margin-top: 50px;
    }

    .intro-text {
        font-size: 18px;
        line-height: 1.6;
        text-align: flexable;
        max-width: 800px;
    }

    .recipe-list {
        margin-top: 30px;
        align-items: center;
    }

    .cooking-text {
        font-size: 24px;
        font-weight: bold;
        text-align: justify;
        color: red;
    }

    .recipe-header {
        font-size: 20px;
        font-weight: bold;
        text-align: justify;
        margin-top: 20px;
        color: blue;
    }

    .recipe-categories {
        font-size: 18px;
        line-height: 1.5;
        list-style-type: decimal;
    }

    .recipe-items {
        margin-left: 20px;
        list-style-type: disc;
    }

    .recipe-items li {
        margin-top: 5px;
    }
</style>

{% endblock %}
